@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

:root{
  --SolarTheme: #e0aa84;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #FFFFFF;
}

::-webkit-scrollbar-thumb {
  background: var(--SolarTheme);
  border-radius: 6px;    
}

body{
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  color: var(--SolarTheme);
  font-family: 'Poppins', sans-serif;
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}